<div id="carouselExampleControls" class="carousel slide m-5" data-bs-ride="carousel" *ngIf="this.dish_record.dish?.imgs != null">
    <div class="carousel-inner carousel_img_wrapper" >
      <div class="carousel-item {{ i == 0 ? 'active' : ''}}" *ngFor="let img of this.dish_record.dish?.imgs, let i = index">
        <img src="{{ img }}" class="d-block slider_img" alt="Dish img">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container d-flex justify-content-center mt-50 mb-50" *ngIf="this.dish_record.dish != undefined">      
    <div class="row">
       <div class="col-md-12 mt-2">
            <div class="card">
                                <div class="card-body">
                                    <!-- <div class="card-img-actions">
                                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" alt="dish icon">
                                    </div> -->
                                </div>

                                <div class="card-body bg-light text-center">
                                    <div class="mb-2">
                                        <h6 class="font-weight-semibold mb-2">
                                            <a [routerLink]="['/szczegoly-dania/', 2]" class="text-warning mb-2" data-abc="true"></a>
                                        </h6>
                                    </div>

                                    <h3 class="mb-0 font-weight-semibold">{{ this.exchangeCurrencyService.getPriceInDollars(this.dish_record.dish.price) }} </h3>

                                    <div class="text-muted mt-2">Typ kuchni: {{ this.dish_record.dish.cuisine_type }}</div>
                                    <div class="text-muted">Kategoria: Mięsne</div>
                                    <div class="text-muted" id="dish_availability">Ilość: <span [style.color]="getFontColordependingOfAvailability(dish_record.orderRecord)">{{ dish_record.orderRecord?.getAvailableAmount() != undefined ? dish_record.orderRecord?.getAvailableAmount() : dish_record.dish.max_amount }}</span></div>

                                    <ul class="m-3" *ngIf="this.dish_record.dish.ingredients != undefined">
                                        <h5>Składniki: </h5>
                                        <li *ngFor="let ingredient of this.dish_record.dish?.ingredients">{{ ingredient }}</li>
                                    </ul>

                                    <div class="text-muted mt-3 mb-3" id="dish_availability">{{ this.dish_record.dish.description }}</div>

                                    <!-- <div>
                                       <i class="fa fa-star star"></i>
                                       <i class="fa fa-star star"></i>
                                       <i class="fa fa-star star"></i>
                                       <i class="fa fa-star star"></i>
                                    </div>

                                    <div class="text-muted mb-3">34 reviews</div> -->

                                    <div class="d-flex">
                                        <button type="button" (click)="this.addToShoppingCart(dish_record.dish)" class="btn bg-cart mt-4"><i class="fa fa-cart-plus me-2"></i> Dodaj do koszyka</button>
                                        <button type="button" (click)="this.removeFromShoppingCart(dish_record.dish)" class="btn bg-dark text-light mt-4">Usuń z koszyka</button>
                                    </div>
                                    
                                </div>
                            </div>
              
       </div> 

    </div>

</div>
