#extend_cart_icon
{
    width: 2.5rem;

    &:hover
    {
        cursor: pointer;
    }

}

#products
{
    max-height: 60vh;
    overflow-y: scroll;
}

@media all and (max-width: 800px)
{
    #products
    {
        max-height: 60vh;
        overflow-y: scroll;
    }

    .dish_img
    {
        max-width: 150px;
        max-height: 150px;
    }

}

.icon:hover 
{
    cursor: pointer;
}