<div class="home_page_info">
   <header>
        <h1>Witamy w <span class="word_accent">Suchanówce</span></h1>
        <h3>Dostarczamy pyszne posiłki od ponad 10 lat!</h3>
   </header>
   <div class="mt-5 opening_hours_info">
        <h4 style="font-weight: bold;">Nasze godziny otwarcia: </h4>
        <h5>Pon - Pt: &nbsp; 11:00 - 22:30</h5>
        <h5>Sob - Nd: &nbsp; 11:00 - 0:00</h5>

        <h4 style="font-weight: bold;" class="mt-2">Adres: </h4>
        <h5>Józefa 14, 31-056 Kraków</h5>

        <h4 style="font-weight: bold;" class="mt-2">Kontakt: </h4>
        <a href="tel:102823111"><h5 class="mt-1">+48 102 823 111</h5></a>
        <a href="mailto: suchanowka@gmail.com"><h5 class="mt-1">suchanowka@gmail.com</h5></a>
   </div>   
   <div class="mt-5">
        <a href="https://facebook.com" target="_blank"><button type="button" class="btn btn-dark btn-lg suchanowka_button">Odwiedź <img src="../../../assets/bxl-facebook-circle (1).svg" class="inverted_color" alt="fb icon"/></button></a>
        <a href="https://www.google.com/maps/place/Restauracja+Starka+Krak%C3%B3w/@50.0280164,19.8482943,12z/data=!4m9!1m2!2m1!1srestauracja+krak%C3%B3w!3m5!1s0x47165b6a3da0a2b9:0x56d7c5f16a0c11d4!8m2!3d50.0506544!4d19.9443529!15sChNyZXN0YXVyYWNqYSBrcmFrw7N3WhUiE3Jlc3RhdXJhY2phIGtyYWvDs3eSARFwb2xpc2hfcmVzdGF1cmFudOABAA" target="_blank"><button type="button" class="btn btn-dark btn-lg suchanowka_button">Zobacz nas na mapie <img src="../../../assets/bxs-map.svg" class="inverted_color" alt="map icon"/></button></a>
        <a href="https://instagram.com" target="_blank"><button type="button" class="btn btn-dark btn-lg suchanowka_button">Odwiedź <img src="../../../assets/bxl-instagram-alt (2).svg" class="inverted_color" alt="ig icon"/></button></a>
   </div>
</div>
