<div class="container d-flex justify-content-center mt-50 mb-50">  
    <div class="row">
       <div class="col-md-5 mt-2" *ngFor="let dish of this.dishes">
            <div class="card" [style.border]="dish.price == highest_price ? '5px solid red' : ( dish.price == cheapest_price ? '5px solid green' : '' )" >
                                <div class="card-body">
                                    <div class="card-img-actions">
                                        <a [routerLink]="['/szczegoly-dania/', dish.key]" ><img src="{{ dish.imgs != null ? dish.imgs[0] : '' }}" class="card-img img-fluid"  alt="dish img"></a>
                                    </div>
                                </div>

                                <div class="card-body bg-light text-center">
                                    <div class="mb-2">
                                        <h6 class="font-weight-semibold mb-2">
                                            <a [routerLink]="['/szczegoly-dania/', 2]" class="text-warning mb-2" data-abc="true">{{ dish.name }}</a>
                                        </h6>
                                    </div>

                                    <h3 class="mb-0 font-weight-semibold">{{ dish.price }} PLN</h3>

                                    <div class="text-muted mt-2">Typ kuchni: {{ dish.cuisine_type }}</div>
                                    <div class="text-muted">Kategoria: {{ dish.category }}</div>
                                    <div class="text-muted" id="dish_availability">Ilość: {{ dish.max_amount }}</div>

                                    <button type="button" class="btn bg-cart mt-4"><i class="fa fa-cart-plus mr-2"></i> Dodaj do koszyka</button>
                                    <button type="button" class="btn bg-dark text-light">Usuń z koszyka</button>
                                    
                                </div>
                            </div>
       </div> 
    </div>
</div>